{% extends 'base.html' %}
{% block title %}{% if object %}Editează{% else %}Adaugă{% endif %} rețetă | Cookbook{% endblock %}

{% block content %}
  <article class="card">
    <h2>{% if object %}Editează{% else %}Adaugă{% endif %} rețetă</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn" type="submit">Salvează</button>
     <a class="btn" href="{% url 'recipe_list' %}">Renunță</a>
    </form>

  </article>
{% endblock %}


