{% extends 'base.html' %}
{% block title %}Rețete (alfabetic) | Cookbook{% endblock %}

{% block content %}
  <div class="grid-recipes">
    {% for r in recipes %}
      <article class="card">
        {% if r.image %}
          <img src="{{ r.image.url }}" alt="{{ r.title }}" style="width:100%; border-radius:10px; margin-bottom:10px;">
        {% endif %}
        <h3><a href="{% url 'recipe_detail' r.id %}">{{ r.title }}</a></h3>
        <p><strong>Timp gătire:</strong> {{ r.cook_time }}</p>
        <p><strong>Adăugată:</strong> {{ r.created_at|date:"Y-m-d H:i" }}</p>
        <p><em>Autor: {{ r.owner.username }}</em></p>
      </article>
    {% empty %}
      <p>Nu există rețete încă.</p>
    {% endfor %}
  </div>
{% endblock %}


